<footer class="footer">
  <small>
    The <a href="http://www.webonise.com/">Sample Applications</a>
    created by <a href="https://www.linkedin.com/pub/umar-siddiqui/96/738/186">Umar Siddiqui</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.webonise.com/">News</a></li>
    </ul>
  </nav>
</footer>